@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind screens;
@tailwind variants;

.base-container {
  @apply min-h-screen h-full flex bg-dark2 text-light2 px-12 pt-12;
}

.helper-text {
  @apply text-muted;
}

h1 {
  @apply text-4xl font-bold py-8 text-primary;
}

ol {
  @apply list-decimal list-inside mx-4;
}

li.list-marker {
  @apply marker:text-primary marker:p-2 my-5;
}

.info {
  @apply italic m-7;
}

.recording-grid-image {
  @apply w-[140px] h-[140px];
}

.recording-list-image {
  @apply w-[80px] h-[80px];
}

.recording-grid-container {
  @apply w-[170px] rounded-xl;
}

.recording-grid-container.selected {
  /*@apply bg-primary-muted;*/
}

.recording-list-container.selected {
  /*@apply bg-primary-muted;*/
}

button.filter-button {
  @apply rounded-full text-primary bg-dark1 font-bold text-sm px-4 py-2 border-2 border-dark1;
}

button.filter-button:hover {
  @apply border-primary border-2;
}

button.filter-button.active {
  @apply bg-primary text-light1 border-primary;
}

.refresh-icon {
  @apply w-10 h-10 cursor-pointer rounded-full;
}

.refresh-icon:hover {
  @apply bg-primary rounded-full;
}

.refresh-icon.refreshing {
  animation: rotateImg 1s linear infinite;
}

@keyframes rotateImg{
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.view-button {
  @apply p-2 bg-dark2 opacity-50 cursor-pointer;
}

.view-button:hover {
  @apply p-2 bg-dark2 opacity-80 cursor-pointer;
}

.view-button.active {
  @apply p-2 opacity-100;
}

.navigation-link {
  @apply cursor-pointer;
}

.navigation-link:hover {
  @apply underline;
}

.authorized-page-container {
  margin-left: 80px;
}

.menu-expanded-width {
  @apply w-[250px];
}

.menu-collapsed-width {
  @apply w-[76px];
}

.menu-container {
  @apply absolute left-0 top-0 bottom-0 menu-collapsed-width bg-dark3 overflow-hidden pt-10;
  transition: width 0.3s ease-in-out;
  z-index: 10;
}

.menu-container:hover {
  @apply menu-expanded-width;
}

a.menu-item {
  @apply py-5 text-light1 cursor-pointer;
}

a.menu-item.active svg path {
  fill: #2661FB;
}

a.menu-item.active {
  @apply text-primary bg-dark1;
}
