@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind screens;
@tailwind variants;

.base-container {
  @apply min-h-screen h-full flex bg-dark2 text-light2 px-12 pt-12;
}

.helper-text {
  @apply text-muted;
}

h1 {
  @apply text-4xl font-bold py-8 text-primary;
}

h2 {
  @apply text-2xl font-bold py-2 text-light2;
}


h3 {
  @apply text-xl py-4 text-light2;
}

ol {
  @apply list-decimal list-inside mx-4;
}

li.list-marker {
  @apply marker:font-bold marker:p-2 my-5;
}

.info {
  @apply italic m-7;
}

.navigation-link {
  @apply cursor-pointer;
}

.navigation-link:hover {
  @apply underline;
}

.authorized-page-container {
  margin-left: 60px;
}

.menu-expanded-width {
  @apply w-[250px];
}

.menu-collapsed-width {
  @apply w-[76px];
}

.menu-container {
  @apply absolute left-0 top-0 bottom-0 menu-collapsed-width bg-dark3 overflow-hidden pt-[66px];
  transition: width 0.3s ease-in-out;
  z-index: 10;
}

.menu-container:hover {
  @apply menu-expanded-width;
}

a.menu-item {
  @apply py-5 text-light1 cursor-pointer;
}

a.menu-item.active svg path {
  fill: #00e3a7;
}

a.menu-item.active {
  @apply text-primary bg-dark1;
}

.select-record-dir-path {
   @apply bg-dark2 border-primary border-2 flex-grow font-mono flex-row p-4 rounded-2xl w-[600px] max-w-[600px] overflow-hidden;
}
